{% extends 'main/base.html' %}
{% load static %}
{% load tags %}

{% block title %}Главная{% endblock %}

{% block content %}

<h2 class="h2">График доходов и расходов</h2>

<div class="analytics">
    <p>Общий доход: {{ total_incomes }} руб.</p>
    <p>Общий расход: {{ total_expenses }} руб.</p>
    <p>Изменение баланса: {{ balance_change }} руб.</p>
    <p>Процент отложенных средств: {{ saved_percentage }}%</p>
    <p>Коэффициент соотношения доходов к расходам(во сколько раз доходы больше расходов): {{ income_expense_ratio }}</p>
</div>

{% include 'main/chart.html' %}

<h4 class="mt-4">Последние операции</h4>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Операция</th>
            <th>Сумма</th>
            <th>Дата</th>
            <th>Источник</th>
            <th>Категория</th>
            <th>Комментарии</th>
        </tr>
        </thead>
        <tbody>
        {% for operation in latest_operations %}
        <tr>
            <td>{{ operation.type }}</td>
            <td>{{ operation.operation.amount }}</td>
            <td>{{ operation.operation.date }}</td>
            <td>{{ operation.operation.source }}</td>
            <td>{{ operation.operation.category }}</td>
            <td>{{ operation.operation.context }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Нет операций для отображения.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
