{% extends 'main/base.html' %}
{% load static %}
{% load tags %}

{% block title %}Добавление операции{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 style="font-weight: normal;" class="text-center">
        {% if object %}
        Изменение данных о доходе
        {% else %}
        Добавление {{ operation_type|lower }}a
        {% endif %}
    </h2>
    <form method="POST" enctype="multipart/form-data" class="needs-validation">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.date.label_tag }}
            {{ form.date|add_class:"form-control datepicker" }}
        </div>

        <div class="mb-3">
            {{ form.amount.label_tag }}
            {{ form.amount|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            {{ form.source.label_tag }}
            {{ form.source|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            {{ form.category.label_tag }}
            {{ form.category|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            {{ form.context.label_tag }}
            {{ form.context|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary">
            {% if object %}
            Изменить
            {% else %}
            Добавить
            {% endif %}
        </button>
    </form>
</div>


{% endblock %}
