{% load static %}

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'main:home' %}">Доходы и расходы</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'users:logout' %}">Выйти из аккаунта</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'main:home' %}">
                            <span data-feather="home"></span>
                            Главная <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'incomes:incomes_list' as incomes_url %}
                        <a class="nav-link {% if request.path == incomes_url %}active{% endif %}" href="{% url 'incomes:incomes_list' %}">
                            <span data-feather="file"></span>
                            Доходы
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'expenses:expenses_list' as expenses_url %}
                        <a class="nav-link {% if request.path == expenses_url %}active{% endif %}" href="{% url 'expenses:expenses_list' %}">
                            <span data-feather="shopping-cart"></span>
                            Расходы
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
